## main occupy functions
export("singleocc", "singleocc.fit")

## model selection helper functions
export("AUC", "rocplot")

## import from other packages
importFrom("nlme", "BIC")
importFrom("stats",
    "case.names", "drop.scope", "drop1", "fitted",
    "logLik", "model.matrix", "terms",
    "update.formula", "update", "vcov", "variable.names")
importFrom("dclone")

## methods for singleocc class
S3method("print", "singleocc")
S3method("print", "summary.singleocc")
S3method("summary", "singleocc")
S3method("case.names", "singleocc")
S3method("coef", "singleocc")
S3method("coef", "summary.singleocc")
S3method("confint", "singleocc")
S3method("drop.scope", "singleocc")
S3method("fitted", "singleocc")
S3method("logLik", "singleocc")
S3method("model.matrix", "singleocc")
S3method("terms", "singleocc")
S3method("update.formula", "singleocc")
S3method("update", "singleocc")
S3method("vcov", "singleocc")
S3method("variable.names", "singleocc")
#S3method("xtable", "singleocc")
#S3method("xtable", "summary.singleocc")

## methods for model selection functions/classes
S3method("AUC", "singleocc")
S3method("rocplot", "singleocc")
S3method("extractAIC", "singleocc")
S3method("BIC", "singleocc")

