exportPattern("^[[:alpha:]]+")
exportMethods(
    "as.mcmc.list",
    "coef",
    "confint",
    "show",
    "vcov" 
)
exportClasses(
    "pva",
     "pvamodel" 
)
#importFrom(dcmle, gsFit, dcFit, dcMle)
importFrom(stats, quantile, update)
importFrom(methods, show)
#importFrom(coda, as.mcmc.list)
importClassesFrom(dcmle, dcMle)
#importMethodsFrom(coda, as.mcmc.list)
