exportPattern("^[[:alpha:]]+")
exportMethods(
    "as.mcmc.list",
    "coef",
    "confint",
    "summary",
    "vcov" 
)
exportClasses(
    "pva",
     "pvamodel" 
)
importFrom(stats, quantile)
importFrom(stats4, update, coef, vcov, confint, summary)
importFrom(methods, show)
importClassesFrom(dcmle, dcmle)
importMethodsFrom(dcmle, as.mcmc.list)
