importFrom(Formula)
importFrom(dcmle)

export(hsarx, sie, sieplot)
exportClasses(hsarxMle)
exportMethods(show)

S3method("coef", "sie")
S3method("print", "sie")
S3method("summary", "sie")
S3method("print", "summary.sie")
