## main dclone functions
export("jags.parfit", "dc.parfit",
       "snowWrapper", 
       "clusterSize", "plotClusterSize",
       "clusterSplitSB", 
       "clusterSeed",
       "parLapplySB", "parLapplySLB")
