export(rsf.fit, rsf, rspf, hoslem.test)
export(kdepairs, makeUsedAvail)
importFrom(stats, BIC,
    logLik, model.matrix, model.frame, 
    update.formula, update, vcov, confint,
    fitted)
S3method(print, rsf)
S3method(summary, rsf)
S3method(print, summary.rsf)
S3method(confint, rsf)
S3method(fitted, rsf)
S3method(logLik, rsf)
S3method(model.frame, rsf)
S3method(model.matrix, rsf)
S3method(plot, rsf)
S3method(predict, rsf)
S3method(vcov, rsf)
S3method(kdepairs, default)
S3method(kdepairs, rsf)
S3method(makeUsedAvail, default)
S3method(makeUsedAvail, formula)
